# Data Science Tools and Ecosystem

***In this notebook, Data Science Tools and Ecosystem are summarized.***

***Objectives:***

- Utilize languages commonly used by data scientists like Python, R, and SQL   

- Demonstrate working knowledge of tools such as Jupyter notebooks and RStudio

- Create and manage source code with Git repositories and GitHub

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. NumPy
4. SciPy

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

| Data Science Tools |
| -------------------- |
| GitHub|
| TensorFlow |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# Addition operation
2+2

4

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes / 60

print(hours)

3.3333333333333335

## AUTHOR
Maria Diana Cimpean